<!DOCTYPE html>
<html>
<head>
    <title>Portfolio Tracker</title>
</head>
<body>
    <h1>My Trades</h1>
    <table>
        <tr>
            <th>Ticker</th>
            <th>Units</th>
            <th>Average Price</th>
            <th>Current Price</th>
            <th>Gain/Loss</th>
        </tr>
        {% for trade in trades %}
        <tr>
            <td>{{ trade.ticker }}</td>
            <td>{{ trade.units }}</td>
            <td>{{ trade.average_price_cents | cents_to_dollars }}</td>
            <td>{{ trade.current_price_cents | cents_to_dollars }}</td>
            <td>{{ trade.gain_loss_cents | cents_to_dollars }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>